{% extends 'toolbar.html' %}
{% load static %}
{% block extrahead %}
    {% load cloudinary %}
    <link rel="stylesheet" href="{% static 'css/common_items.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="profile-container">
        {% if user_profile.profile_picture and user_profile.profile_picture.name %}
            {% cloudinary user_profile.profile_picture.name width=800 height=800 crop="fill" gravity="auto" %}
        {% else %}
            <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750204693/defaultPicture_z9uqh8.png"
                 alt="Default Profile Picture" class="pickypicture">
        {% endif %}
        <div class="profile-info">
            <h1>{{ user_profile.username }}'s profile</h1>

            <div class="info-block">
                <p><strong>Username:</strong> {{ user_profile.username }}</p>

                {% if is_owner %}
                    <p><strong>Email:</strong> {{ user_profile.email }}</p>
                {% endif %}

                <p><strong>Name:</strong> {{ user_profile.first_name }}</p>
                <p><strong>Surname:</strong> {{ user_profile.last_name }}</p>

                {% if user_profile.short_bio %}
                    <p><strong>Profile bio:</strong> {{ user_profile.short_bio }}</p>
                {% endif %}

                {% if is_owner and user_profile.phone_number %}
                    <p><strong>Phone:</strong> {{ user_profile.phone_number }}</p>
                {% endif %}

                {% if user_profile.favorite_artist %}
                    <p><strong>Favourite Artist:</strong> {{ user_profile.favorite_artist }}</p>
                {% endif %}
            </div>

            {% if is_owner %}
                <div class="edit-button-container">
                    <button id="edit-button" onclick="toggleEdit()" class="btn">Edit profile</button>
                </div>
            {% endif %}
        </div>

    {% if is_owner %}
        <div id="edit-form" style="display: none; margin-top: 20px;">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Edit your info:</h2>
                <p><strong>{{ form.username.label_tag }}</strong> {{ form.username }}</p>
                <p><strong>{{ form.email.label_tag }}</strong> {{ form.email }}</p>
                <p><strong>{{ form.first_name.label_tag }}</strong> {{ form.first_name }}</p>
                <p><strong>{{ form.last_name.label_tag }}</strong> {{ form.last_name }}</p>

                {% if user_profile.profile_picture.name != "profile_pics/defaultPicture.png" %}
                    <p><strong>{{ form.profile_picture.label_tag }}</strong> {{ form.profile_picture }}</p>
                {% else %}
                    <label for="{{ form.profile_picture.id_for_label }}"><strong>New profile picture:</strong></label>
                    <input type="file" name="{{ form.profile_picture.name }}"
                           id="{{ form.profile_picture.id_for_label }}"><br>
                {% endif %}

                <p><strong>{{ form.short_bio.label_tag }}</strong> {{ form.short_bio }}</p>
                <p><strong>{{ form.phone_number.label_tag }}</strong> {{ form.phone_number }}</p>
                <p><strong>{{ form.favorite_artist.label_tag }}</strong> {{ form.favorite_artist }}</p>

                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    {% endif %}

</div>

    <div class="latter-container">
        <h2>{{ user_profile.username }}'s playlists</h2>
        {% if playlists %}
            <div class="song-grid">
                {% for playlist in playlists %}
                    {% include "playlist_card.html" with playlist=playlist %}
                {% endfor %}
            </div>
        {% else %}
            {% if is_owner %}
                <p>You haven't made any playlists yet! Make one now.</p>
            {% else %}
                <p>This user has no playlists.</p>
            {% endif %}
        {% endif %}

        <hr>

        <h2>{{ user_profile.username }}'s liked songs</h2>

        {% if liked_songs %}
            <div class="song-grid">
                {% for song in liked_songs %}
                    {% include "song_card.html" with song=song %}
                {% endfor %}
            </div>
        {% else %}
            {% if is_owner %}
                <p>You have no liked songs yet. Find something you like!</p>
            {% else %}
                <p>This user has no liked songs.</p>
            {% endif %}
        {% endif %}
    </div>

    <div id="quickAddModal" class="modal hidden">
        <div class="modal-content">
            <h2>Add this song to one of your playlists</h2>
            <ul id="playlistList">
            </ul>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/quickadd.js' %}"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>

    <script>
        function toggleEdit() {
            document.getElementById('edit-form').style.display = 'block';
            document.getElementById('profile-info').style.display = 'none';
            document.getElementById('edit-button').style.display = 'none';
        }
    </script>
{% endblock %}