{% extends 'toolbar.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/css/intlTelInput.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <h1>Create an account</h1>
    <div class="formcontainer">
        <form method="POST" enctype="multipart/form-data">
            {% if form.errors %}
                <div>
                    <strong>There was something wrong with your registration!</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% csrf_token %}

        {{ form.username.label_tag }} {{ form.username }}<br>
        {{ form.email.label_tag }} {{ form.email }}<br>
        {{ form.first_name.label_tag }} {{ form.first_name }}<br>
        {{ form.last_name.label_tag }} {{ form.last_name }}<br>
        {{ form.profile_picture.label_tag }} {{ form.profile_picture }}<br>
        {{ form.short_bio.label_tag }} {{ form.short_bio }}<br>

        <label for="phoneInput">Phone:</label><br>
        <input id="phoneInput" type="tel" name="phone_number"><br>

        {{ form.favorite_artist.label_tag }} {{ form.favorite_artist }}<br>

        {{ form.password1.label_tag }} {{ form.password1 }}<br>
        {{ form.password2.label_tag }} {{ form.password2 }}<br>

        <button type="submit">Create account</button>
    </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/js/intlTelInput.min.js"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
{% endblock %}