h1 {
    color: #0c5460;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Belwe Bold BT', sans-serif;
    text-align: center;
}

.formcontainer {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.curator-form-box {
    flex: 1;
    max-width: 400px;
    background-color: #e4f4f2;
    border-radius: 12px;
    box-shadow: 0 0 10px #3a837b;
    padding: 20px;
}

.curator-form-box h2 {
    font-family:  'Belwe Bold BT', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    color: #0c5460;
    font-size: 30px;
    text-align: center;
}

.curator-form-box form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.curator-form-box label {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.curator-form-box input[type="text"],
.curator-form-box input[type="file"],
.curator-form-box input[type="number"],
.curator-form-box input[type="duration"],
.curator-form-box textarea,
.curator-form-box select {
    width:  85%;
    padding: 8px;
    border: 1px solid #b4e2dd;
    border-radius: 6px;
    font-size: 14px;
}

.curator-form-box .checkbox {
    margin-left: 10px;
}

.curator-form-box button {
    background-color: #62b9af;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.curator-form-box button:hover {
    background-color: #4a958d;
}

.messages {
    margin-bottom: 15px;
}

.messages {
    margin-bottom: 15px;
}

.message {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid;
    transition: opacity 0.5s ease;
}


.message.success {
    background-color: #e0f7f5;
    color: #155f5b;
    border-color: #62b9af;
}


.message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}


.message.warning {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.message.error {
    background-color: #e4f4f2;
    color: #0c5460;
    border-color: #0c5460;
}