.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 40px;
    gap: 40px;
}


.pickypicture {
  width: 400px;
    height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.profile-info, #edit-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: #e6f7f5;
  border-radius: 30px;
  box-shadow: inset 0 0 10px #c2e6e1;
}

.readonly-field {
  background-color: #b4e2dd;
  color: darkslategrey;
  border: 1px solid #3a837b;
  cursor: not-allowed;
}

.profile-info h1, h2 {
    font-family: 'Belwe Bold BT', sans-serif;
    font-size: 35px;
    color: #03363d;
    font-weight: 800;
}

#edit-form h2 {
    font-family: 'Belwe Bold BT', sans-serif;
    font-size: 20px;
    color: #03363d;
    font-weight: 800;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-block p strong, #edit-form p strong {
    color: #03363d;
    font-weight: 900;
    font-size: 17px;
}

.info-block p, #edit-form p {
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.edit-button-container {
  align-self: flex-end;
  margin-top: 15px;
}

.btn {
    margin-top: 5px;
  padding: 12px 20px;
  background-color: #62b9af;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4a958d;
}

.latter-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}