.search-page-container {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    margin: 0 auto;
    padding: 16px 24px;
}

.filters-sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: #3a837b;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.search-results-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
}

.tab-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
    padding-right: 30px;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
    font-size: 15px;
  white-space: nowrap;
}
.tab.active {
  border-bottom: 2px solid #4da89f;
  color: #3a837b;
}