{% extends 'toolbar.html' %}
{% load cloudinary %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/common_items.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="home-title">
        <h1>Welcome to Ned's Bayou</h1>

        <form method="get" action="{% url 'search_results' %}" class="search-bar">
            <label>
                <input type="text" name="q" placeholder="Search everything here..."/>
            </label>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <div class="home-wrapper">
    <div class="home-sidebar">
            <section class="latest-playlists">
                <h3>Latest Playlists Created</h3>
                {% for playlist in latest_playlists %}
                    <div class="playlist-snippet">
                        <div class="playlist-cover-info">
                            <a href="{% url 'playlist_detail' playlist.id %}">
                                {% if playlist.cover and playlist.cover.name %}
                                    {% cloudinary playlist.cover.name width=100 height=100 crop="fill" gravity="auto" as cover_url %}
                                        <img class="playlist-cover" src="{{ cover_url }}"
                                             alt="{{ playlist.name }}'s cover">
                                    {% endcloudinary %}
                                {% else %}
                                    <img class="playlist-cover"
                                         src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750248957/defaultPlaylistCover_elb8ew.jpg"
                                         alt="Default Cover">
                                {% endif %}
                            </a>
                            <div>
                                <strong>
                                    <a href="{% url 'playlist_detail' playlist.id %}" class="playlist-link">
                                        {{ playlist.name }}
                                    </a>
                                </strong><br>
                                <a href="{% url 'profile' playlist.created_by.username %}" class="user-link">
                                    by {{ playlist.created_by.username }}
                            </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>

            <section class="top-songs">
                <h3>Top songs right now</h3>
                {% include "highlight_list.html" with songs=top_songs %}
            </section>
        </div>

    <div class="home-main-content">
        <div class="suggested-block">
            <h3>Suggested for you</h3>

            {% if preview_artist or preview_songs %}
                <div class="suggested-row">
                    {% if preview_artist %}
                        {% include "artist_card.html" with artist=preview_artist %}
                    {% endif %}

                    {% if preview_songs %}
                        {% for song in preview_songs|slice:":3" %}
                            {% include "song_card.html" with song=song %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <p>No suggestions yet.</p>
            {% endif %}

            <a href="{% url 'recommendations' %}" class="btn">View more ➜</a>
        </div>


        <div class="suggested-block2">
            <h3>Discover More Songs</h3>
            <div class="song-grid">
                {% for song in songs %}
                    {% include "song_card.html" with song=song %}
                {% endfor %}
            </div>
            <div style="text-align: center; margin-top: 20px;">
                <a href="{% url 'song_list' %}" class="btn">View full catalogue ➜</a>
            </div>
        </div>
    </div>


        <div id="quickAddModal" class="modal hidden">
            <div class="modal-content">
                <h2>Add this song to one of your playlists</h2>
                <ul id="playlistList">
                </ul>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/quickadd.js' %}"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
