{% load cloudinary %}

<div class="playlist-card">
    <a href="{% url 'playlist_detail' playlist.id %}">
        {% if playlist.cover %}
            {% cloudinary playlist.cover.name width=150 height=150 crop="fill" as cover_url %}
                <img src="{{ cover_url }}" alt="Cover of {{ playlist.name }}">
            {% endcloudinary %}
        {% else %}
            <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750248957/defaultPlaylistCover_elb8ew.jpg" alt="Default Cover">
        {% endif %}
        <h4>{{ playlist.name }}</h4>
    </a>
    <button type="button" class="share-icon-small" onclick="copyPlaylistLink(this, '{{ playlist.id }}', event)">
        <i class="fas fa-share-alt"></i>Share<span class="copy-status"></span>
    </button>
</div>