{% load cloudinary %}

<div class="song-card">
    {% if song.cover %}
        {% cloudinary song.cover.name width=150 height=150 crop="fill" as cover_url %}
            <img src="{{ cover_url }}" alt="{{ song.title }}'s cover">
        {% endcloudinary %}
    {% else %}
        <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750249400/default_cover_td9qhw.png" alt="Default Song Cover">
    {% endif %}

    <div class="song-info">
        <h4>{{ song.title }}</h4>
        <p>
            <a href="{% url 'artist_detail' song.artist.id %}">{{ song.artist.name }}</a>
        </p>

        <div class="tools-container">
            <div class="song-audio">
                <audio controls class="mini-audio-player">
                    <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>

            {% if user.is_authenticated %}
                <div class="song-actions">
                    <button class="quickAddBtn" data-song-id="{{ song.id }}">
                        <i class="fas fa-plus"></i>
                    </button>

                    <button type="button"
                            class="like-button"
                            data-song-id="{{ song.id }}"
                            data-liked="{% if song in user.liked_songs.all %}true{% else %}false{% endif %}">
                        <i class="{% if song in user.liked_songs.all %}fas{% else %}far{% endif %} fa-heart"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>