<!DOCTYPE html>
<html lang="en">

<!-- this is a head made for pages which extend to add css and more -->
{% block extrahead %}
{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Ned's Bayou</title>
    {% load static %}
    {% load cloudinary %}
    <link rel="stylesheet" href="{% static 'css/toolbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<header class="toolbar-header">
    <h1 class="site-title"><a href="{% url 'home' %}">Ned's Bayou</a></h1>

    {% if user.is_authenticated %}
    <div class="toolbar-user">
        <p class="welcome-text">Welcome,</p>
        <a href="{% url 'profile' user.username %}" class="user-link">
            {{ user.username }}
            {% if req_user_is_curator %}
                <img src="{% static 'icons/curatorIcon.png' %}" alt="Curator" width="20">
            {% endif %}
            {% if user.profile_picture and user.profile_picture.name %}
                {% cloudinary user.profile_picture.name width=50 height=50 crop="fill" gravity="auto" as profile_url %}
                <img src="{{ profile_url }}" alt="Profile Picture" class="profile-pic">
            {% else %}
                <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750204693/defaultPicture_z9uqh8.png"
                     alt="Default Profile Picture" width="50" height="50" class="profile-pic">
            {% endif %}
        </a>

        {% if req_user_is_curator %}
            <a href="{% url 'curator_dashboard' %}" class="toolbar-btn">Curator Dashboard</a>
        {% endif %}

        <a href="{% url 'create_playlist' %}" class="toolbar-btn">Add playlist</a>

        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout">Logout</button>
        </form>
    </div>
    {% else %}
    <div class="toolbar-auth">
        <a href="{% url 'login' %}" class="auth-link">Login</a>
        <a href="{% url 'register' %}" class="auth-link">Make an account</a>
    </div>
    {% endif %}
</header>

<main>
<!-- this is the main space in all pages -->
    {% block content %}
    {% endblock %}
</main>

<footer class="footers">
    <div class="footer-content">
        <p>WARNING: this website was made for a project as part of my degree at
            <a href="https://www.ing-inl.unifi.it/">Università degli Studi di Firenze - Ingegneria informatica</a>
            and it does not want in any way or form steal from any artist or replace any streaming platform. All songs used in the project
            database are a tribute to my favorite bands and the audio used for every single one of them is a free instrumental track of the single
            <a href="https://youtu.be/r_9Kf0D5BTs?si=y-Rg7BzOo_Qr36yE">Heavydirtysoul by Twenty One Pilots</a>
            , not the real songs. All rights and merits go to the respective artists and their labels.</p>
        <p>Thank you to all artists featured for inspiring me even in the darkest of times.</p>
        <p>&copy; 2025 FPE. All rights NOT reserved.</p>
    </div>
</footer>

<!-- this is a space made to load js scripts -->
{% block scripts %}
{% endblock %}

</body>
</html>