<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ned's Bayou Streaming</title>
</head>
<body>

<header>
    <h1><a href="{% url 'home' %}">Ned's Bayou</a></h1>

    {% if user.is_authenticated %}
    <div style="display: flex; align-items: center; gap: 4px;">
        <p>Welcome,</p>
        <a href="{% url 'profile' user.username %}" style="text-decoration: none; color: inherit; display: flex; align-items: center; gap: 5px;">
            {{ user.username }}
            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/media/profile_pics/defaultPicture.png{% endif %}"
                alt="Profile Picture" width="50" style="border-radius: 50%;">
        </a>
        <form action="{% url 'logout' %}" method="post" style="display: inline; margin-left: 10px;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Registrati</a>
{% endif %}
</header>

<hr>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>