{% load cloudinary %}

<div class="user-card">
    <a href="{% url 'profile' username=user.username %}">
        {% if user.profile_picture and user.profile_picture.name %}
            {% cloudinary user.profile_picture.name width=100 height=100 crop="fill" gravity="auto" as profile_url %}
            <img src="{{ profile_url }}" alt="Profile picture of {{ user.username }}">
        {% else %}
            <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750204693/defaultPicture_z9uqh8.png"
                 alt="Default profile picture">
        {% endif %}
        <h4>{{ user.username }}</h4>
    </a>
</div>