{% extends 'toolbar.html' %}
{% load static %}
{%  load cloudinary %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/common_items.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="artist-banner">
            {% if artist.photo %}
                {% cloudinary artist.photo.name width=1280 height=720 crop="fill" gravity="auto" as artist_url %}
                <img src="{{ artist_url }}" alt="{{ artist.name }}">
            {% else %}
                <img src="https://res.cloudinary.com/dliev5zuy/image/upload/v1750249305/default_artist_vtyuz5.png"
                     alt="Default artist image">
            {% endif %}
            <div class="banner-overlay">
                <h1>{{ artist.name }}</h1>
            </div>
        </div>

        <div class="artist-content">
        <div class="left-column">
            <h2>Artist Highlights</h2>
            {% include "highlight_list.html" with songs=highlights %}
        </div>

        <div class="right-column">
            <h2>What to know about the artist</h2>
            <p>{{ artist.bio|default:"No biography was provided by the artist. Maybe later?" }}</p>
        </div>
    </div>

    <h2>Songs from {{ artist.name }}</h2>
    <div class="song-grid">
        {% for song in all_songs %}
            {% include "song_card.html" with song=song %}
        {% empty %}
            <p>This artist has not provided songs yet.</p>
        {% endfor %}
    </div>

</div>

    <div id="quickAddModal" class="modal hidden">
        <div class="modal-content">
            <h2>Add this song to one of your playlists</h2>
            <ul id="playlistList">
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/quickadd.js' %}"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}