{% extends 'toolbar.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/playlist.css' %}">
{% endblock %}

{% block content %}
<h1>Make a new playlist</h1>

    <div class="formcontainer">
        <form class="playlist-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}

            <label for="{{ form.description.id_for_label }}">Playlist description:</label>
            {{ form.description }}

            <label for="{{ form.cover.id_for_label }}">Playlist cover:</label>
            {{ form.cover }}

            <label for="{{ form.songs.id_for_label }}">Choose which songs to add:</label>
            <div class="song-checkboxes">
                {{ form.songs }}
            </div>

            <button type="submit" class="btn ned">Create</button>
        </form>

    </div>
{% endblock %}