{% extends "toolbar.html" %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/curator_dashboard.css' %}">
{% endblock %}
{% block content %}

<h1>Curator Dashboard</h1>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

<div class="formcontainer">


    <div class="curator-form-box">
        <h2>Add a musical Genre</h2>
        <form method="post">
            {% csrf_token %}
            {{ genre_form.as_p }}
            <button type="submit" name="genre_submit">Save genre</button>
        </form>
    </div>


    <div class="curator-form-box">
        <h2>Add an artist</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ artist_form.as_p }}
            <button type="submit" name="artist_submit">Save artist</button>
        </form>
    </div>


    <div class="curator-form-box">
        <h2>Add a song</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ song_form.as_p }}
            <button type="submit" name="song_submit">Save song</button>
        </form>
    </div>

</div>

{% endblock %}