{% extends 'toolbar.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/playlist_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/common_items.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}

{% block content %}
    <div class="playlist-header">
        <div class="playlist-left">
            <img src="{{ playlist.cover.url }}" alt="{{ playlist.name }}'s cover">
            <div class="playlist-header-info">
                <h1>{{ playlist.name }}</h1>
                {% if playlist.description %}
                    <p>{{ playlist.description }}</p>
                {% else %}
                    <p><em>This playlist has no description.</em></p>
                {% endif %}

                {% if is_owner %}
                    <div class="edit-btns">
                        <button id="edit-button" onclick="toggleEdit()" class="edit">EDIT</button>
                        <form method="post" action="{% url 'delete_playlist' playlist.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete">DELETE</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

    <button type="button" class="share-icon-btn" onclick="copyPlaylistLink(this, '{{ playlist.id }}')">
                <i class="fas fa-share-alt"></i>Share this playlist<span class="copy-status"></span>
            </button>
    </div>

    <div id="song-list">
        {% if playlist.songs.exists %}
            <div class="song-grid">
                {% for song in playlist.songs.all %}
                    {% include "song_card.html" with song=song %}
                {% endfor %}
            </div>
        {% else %}
            <p>No songs in this playlist.</p>
        {% endif %}
    </div>

    {% if is_owner %}
        <div id="edit-form" style="display: none; margin-top: 20px;">
            <form method="POST" enctype="multipart/form-data" class="edit-playlist-form">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}

                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}

                <label for="{{ form.cover.id_for_label }}">Playlist cover:</label>
                {{ form.cover }}

                <label for="{{ form.songs.id_for_label }}">Choose songs:</label>
                <div class="song-checkboxes">
                    {{ form.songs }}
                </div>

                <button type="submit" class="btn">SAVE</button>
            </form>
        </div>
    {% endif %}


    <div id="quickAddModal" class="modal hidden">
        <div class="modal-content">
            <h3>Add this song to one of your playlists</h3>
            <ul id="playlistList">
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'js/quickadd.js' %}"></script>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>

    <script>
        function toggleEdit() {
            const form = document.getElementById('edit-form');
            const button = document.getElementById('edit-button');
            const songList = document.getElementById('song-list');

            const showing = form.style.display === 'block';

            form.style.display = showing ? 'none' : 'block';
            songList.style.display = showing ? 'block' : 'none';
            button.innerText = showing ? 'EDIT' : 'BACK';
        }
    </script>

{% endblock %}

